*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

h1{
    color:#ff7faa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifgi;
}

p{
    max-width: 350px;
    margin: 15px;
}

.div{
    background-color: #8a2be2;
}

.flex-index{
    display: flex;
    justify-content: space-between
}

.div:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #692c97;
    background-image: linear-gradient(rgb(255, 251, 0), red);
}

h1:hover{
    color: rgb(52, 167, 221);
    
}

@media (max-width: 650px){
    .div{
        background-color: aquamarine;
    }
}