*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

h1{
    color:#ff7faa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifgi;
}

p{
    max-width: 350px;
    margin: 15px;
}

.div{
    background-color: #8a2be2;
}

.flex-index{
    display: flex;
    justify-content: space-around;
}

@media (max-width: 650px){
    .div{
        background-color: aquamarine;
    }

}